body{
    background-image:url(fon1.png);
    background-size: 100%;
    
} 
.space {
    transition: 2s; /* Время эффекта */
   }
   .space:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }
 .space 
            {   padding: 20px; 
                height: 270px;
                width: 220px;
                background: #e7e9e7; 
                border: double;
                margin: 15px;
                display: inline-block;
                text-align: center;
                
            }
           
            .box{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                height: 100%;

            }


p{
    font-size: 30px;
    
}